<h3>About me</h3>
<p>Hi, my name is Steve Rydz and I&rsquo;m a front-end developer based in London. Right now I&rsquo;m working at Canonical, the company behind Ubuntu. This is my personal blog where I mostly write about web development but may stray into more personal topics occassionally.</p>

<h3>Elsewhere</h3>
<ul>
  <li><a href="https://twitter.com/steverydz">Twitter</a></li>
  <li><a href="https://github.com/steverydz">GitHub</a></li>
  <li><a href="https://instagram.com/steverydz">Instagram</a></li>
</ul>

<h3>Get in touch</h3>
<p>If you&rsquo;d like to get in touch for any reason please feel free to <a href="mailto:steverydz@gmail.com">email me</a>. I read all of my email and reply to any messages that warrent a response.</p>
