html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

[href="#main"] {
  position: absolute;
  right: 100%;
  top: 0;

  &:focus {
    right: auto;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }

  &:focus {
    background-color: $focus-bg-color;
    outline: none;
  }
}

[href^="http"]:not([href*="steverydz.com"])::after {
  background-image: url("../images/external-link.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75% auto;
  content: "(external link)";
  display: inline-block;
  height: 1em;
  overflow: hidden;
  text-indent: 1em;
  white-space: nowrap;
  width: 1em;
}
