.u-no-margin {
  margin: 0;
}

.u-no-margin--top {
  margin-top: 0;
}

.u-no-margin--bottom {
  margin-bottom: 0;
}

.u-no-margin--left {
  margin-left: 0;
}

.u-no-margin--right {
  margin-right: 0;
}

.u-no-padding {
  padding: 0;
}

.u-no-padding--top {
  padding-top: 0;
}

.u-no-padding--bottom {
  padding-bottom: 0;
}

.u-no-padding--left {
  padding-left: 0;
}

.u-no-padding--right {
  padding-right: 0;
}

.u-list--unstyled {
  list-style: none;
  padding-left: 0;
}
