<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The personal website of Steve Rydz where he shares his thoughts, findings and opinions">
  <title>{% if page.title %}{{ page.title }} | Steve Rydz{% else %}The personal website of Steve Rydz{% endif %}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <a href="#main">Skip to content</a>
  <div class="container">
    <header class="site-header" role="banner">
      <h1 class="site-title"><a href="/">Steve Rydz</a></h1>
      <p class="site-description">Web developer, photographer, musician. He/him.</p>
    </header>
    <main class="site-content" id="main" role="main">
      {{ content }}
    </main>
    <footer class="site-footer" role="contentinfo">
      <p>&copy; 2007 &mdash; 2020 <a href="/about">Steve Rydz</a></p>
      <ul class="inline-list">
        <li class="inline-list__item"><a href="https://github.com/steverydz">GitHub</a></li>
        <li class="inline-list__item"><a href="https://instagram.com/steverydz">Instagram</a></li>
        <li class="inline-list__item"><a href="https://twitter.com/steverydz">Twitter</a></li>
      </ul>
    </footer>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4436239-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-4436239-6', {'anonymize_ip': true});
  </script>
</body>
</html>
