<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <title>{% if page.title %}{{ page.title }} | Steve Rydz{% else %}{{ site.subtitle }}{% endif %}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <a href="#main">Skip to content</a>
  <div class="container">
    <header class="site-header" role="banner">
      <div class="h2 u-no-margin--bottom"><a class="site-title-link" href="/">Steve Rydz</a></div>
      <p class="site-description">Web developer, photographer, musician. He/him.</p>
      <ul class="inline-list">
        <li class="inline-list__item">
          <a href="/"{% if page.url == "/" %} aria-current="page"{% endif %}>Home</a>
        </li>
        <li class="inline-list__item">
          <a href="/about"{% if page.url == "/about" %} aria-current="page"{% endif %}>About</a>
        </li>
        <li class="inline-list__item">
          <a href="/feed.xml">RSS</a>
        </li>
      </ul>
    </header>
    <main class="site-content" id="main" role="main">
      {{ content }}
    </main>
    <footer class="site-footer" role="contentinfo">
      <p class="u-no-margin--bottom">&copy; 2007 &mdash; 2020 <a href="/about">Steve Rydz</a></p>
      <ul class="inline-list">
        <li class="inline-list__item"><a href="https://github.com/steverydz">GitHub</a></li>
        <li class="inline-list__item"><a href="https://instagram.com/steverydz">Instagram</a></li>
        <li class="inline-list__item"><a href="https://twitter.com/steverydz">Twitter</a></li>
        <li class="inline-list__item"><a href="/feed.xml">RSS</a></li>
      </ul>
    </footer>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4436239-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-4436239-6', {'anonymize_ip': true});
  </script>
</body>
</html>
