<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The personal website of Steve Rydz</title>
</head>
<body>
  <h1><a href="/">Steve Rydz</a></h1>
  <p>Web developer, photographer, musician. He/him.</p>
  {{ content }}
  <ul>
    <li><a href="https://github.com/steverydz">GitHub</a></li>
    <li><a href="https://instagram.com/steverydz">Instagram</a></li>
    <li><a href="https://twitter.com/steverydz">Twitter</a></li>
  </ul>
  <p>&copy; 2007 &mdash; 2020 Steve Rydz. All rights reserved.</p>
</body>
</html>
